Repository dsm23/turbo-monorepos-react-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check, stylelint --allow-empty-input

chore(node version): upgrade node version
  .nvmrc
Due: none

chore(stylelint): update stylelint config to use ts types
  apps/accordions/stylelint.config.js
  apps/image-slider/stylelint.config.js
  apps/qrcode-generator/stylelint.config.js
  apps/random-colour/stylelint.config.js
  apps/scroll-indicator/stylelint.config.js
  apps/star-ratings/stylelint.config.js
  apps/tabs/stylelint.config.js
  apps/tree-view/stylelint.config.js
  apps/vercel-badge/stylelint.config.js
  packages/config-stylelint/package.json
  packages/config-stylelint/stylelint.config.ts
  packages/config-stylelint/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

chore(lint-staged): update lint-staged target
  .lintstagedrc
  .npmrc
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --check

chore(pnpm): upgrade pnpm to v9.13.0
  .github/workflows/build.yml
  .github/workflows/playwright.yml
  package.json
Due: prettier --check

chore(node version): upgrade node version to v22.11.0
  .nvmrc
Due: none

chore(deps): update third-party dependencies
  .github/workflows/playwright.yml
  apps/accordions/package.json
  apps/docs/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/scroll-indicator/src/components/navbar/index.tsx
  apps/scroll-indicator/src/entry.server.tsx
  apps/scroll-indicator/src/routes/_index.tsx
  apps/scroll-indicator/vite.config.ts
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/web/package.json
  package.json
  packages/common-utils/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/react-ui-compiled/package.json
  packages/react-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(ubuntu): fix ubuntu versions in GitHub actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/playwright.yml
Due: prettier --check

chore(nodejs): update node version
  .nvmrc
Due: none

chore(pnpm): update pnpm version v10.9
  package.json
Due: prettier --check

chore(deps): update third-party dependencies
  apps/accordions/package.json
  apps/accordions/src/components/shadcn-accordion/index.tsx
  apps/docs/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tabs/src/components/shadcn-tabs/index.tsx
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/web/package.json
  package.json
  packages/common-utils/package.json
  packages/config-eslint/package.json
  packages/config-stylelint/package.json
  packages/react-ui-compiled/package.json
  packages/react-ui/package.json
  packages/react-ui/src/components/dropdown/index.tsx
  packages/react-ui/src/components/label/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(playwright): update playwright dependency
  .github/workflows/playwright.yml
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  pnpm-lock.yaml
Due: prettier --check

ci(zizmor): add zizmor pipeline
  .github/workflows/zizmor.yml
  .mergify.yml
Due: prettier --check

ci(codeql): pin digests
  .github/workflows/codeql.yml
  .mergify.yml
Due: prettier --check

ci(deps-review): pin digests
  .github/workflows/dependency-review.yml
Due: prettier --check

ci(gitleaks): pin digests
  .github/workflows/gitleaks.yml
Due: prettier --check

ci(playwright): pin digests
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

ci(build checks): split build check pipeline
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
  .mergify.yml
Due: prettier --check

ci(renovate): add renovate config
  renovate.json
Due: prettier --check

chore(deps): pin npmjs dependencies
  apps/accordions/package.json
  apps/docs/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/web/package.json
  package.json
  packages/common-utils/package.json
  packages/config-eslint/package.json
  packages/config-stylelint/package.json
  packages/config-tailwind/package.json
  packages/react-ui-compiled/package.json
  packages/react-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): update node to v24.0.2
  .nvmrc
Due: none

chore(ts-reset): add ts-reset in apps
  apps/accordions/package.json
  apps/accordions/src/reset.d.ts
  apps/image-slider/package.json
  apps/image-slider/src/reset.d.ts
  apps/qrcode-generator/package.json
  apps/qrcode-generator/src/reset.d.ts
  apps/random-colour/package.json
  apps/random-colour/src/reset.d.ts
  apps/scroll-indicator/package.json
  apps/scroll-indicator/src/reset.d.ts
  apps/star-ratings/package.json
  apps/star-ratings/src/reset.d.ts
  apps/tabs/package.json
  apps/tabs/src/reset.d.ts
  apps/tree-view/package.json
  apps/tree-view/src/reset.d.ts
  apps/vercel-badge/package.json
  apps/vercel-badge/src/reset.d.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(eslint): remove comments related to tailwind plugin
  packages/config-eslint/index.js
Due: turbo run lint --, prettier --check

chore(npmrc): remove .npmrc
  .npmrc
  pnpm-workspace.yaml
Due: none

chore(lint): run linting checks in parallel
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
Due: prettier --check

chore(turbo): add tui ui
  turbo.json
Due: prettier --check

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

chore(deps): update @types/node to v24.x.x
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  packages/react-ui-compiled/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(stylelint): change repo stylelint config to js
  packages/config-stylelint/index.js
  packages/config-stylelint/package.json
  packages/config-stylelint/tsconfig.json
Due: turbo run lint --, prettier --check

ci(permissions): updating permissions in gh actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: prettier --check

ci: add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

ci: add scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

ci(node setup): abstract node setup in gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(renovate): add three.js to config
  renovate.json
Due: prettier --check

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

chore(commitizen): remove commitizen
  .cz.json
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): switch to @vitejs/plugin-react for rolldown
  apps/accordions/package.json
  apps/accordions/vite.config.ts
  apps/image-slider/package.json
  apps/image-slider/vite.config.ts
  apps/qrcode-generator/package.json
  apps/qrcode-generator/vite.config.ts
  apps/random-colour/package.json
  apps/random-colour/vite.config.ts
  apps/star-ratings/package.json
  apps/star-ratings/vite.config.ts
  apps/tabs/package.json
  apps/tabs/vite.config.ts
  apps/tree-view/package.json
  apps/tree-view/vite.config.ts
  apps/vercel-badge/package.json
  apps/vercel-badge/vite.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(tailwind): move tailwind and postcss config
  apps/image-slider/src/style.css
  apps/image-slider/tailwind.config.ts
  apps/qrcode-generator/src/style.css
  apps/random-colour/src/style.css
  apps/scroll-indicator/src/style.css
  apps/star-ratings/src/style.css
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles.css
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/stylelint.config.js
  apps/tabs/src/style.css
  apps/tree-view/src/style.css
  apps/vercel-badge/src/style.css
  packages/config-postcss/package.json
  packages/config-postcss/postcss.config.js
  packages/config-tailwind/globals.css
  packages/config-tailwind/package.json
  packages/config-tailwind/stylelint.config.js
  packages/config-tailwind/tailwind.config.ts
  packages/config-tailwind/tsconfig.json
  packages/react-ui-compiled/package.json
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check, stylelint --allow-empty-input

ci(vitest): merge coverage reports
  .github/workflows/unit-testing.yml
  apps/accordions/package.json
  apps/accordions/vite.config.ts
  apps/accordions/vitest.config.ts
  apps/image-slider/package.json
  apps/image-slider/vite.config.ts
  apps/image-slider/vitest.config.ts
  apps/qrcode-generator/package.json
  apps/qrcode-generator/vite.config.ts
  apps/qrcode-generator/vitest.config.ts
  apps/random-colour/package.json
  apps/random-colour/vite.config.ts
  apps/scroll-indicator/package.json
  apps/scroll-indicator/vitest.config.ts
  apps/star-ratings/package.json
  apps/star-ratings/vite.config.ts
  apps/star-ratings/vitest.config.ts
  apps/tabs/package.json
  apps/tabs/vite.config.ts
  apps/tabs/vitest.config.ts
  apps/tree-view/package.json
  apps/tree-view/vite.config.ts
  apps/tree-view/vitest.config.ts
  apps/vercel-badge/package.json
  apps/vercel-badge/vite.config.ts
  apps/vercel-badge/vitest.config.ts
  package.json
  packages/config-vitest/package.json
  packages/config-vitest/src/index.ts
  packages/config-vitest/src/scripts/collect-json-outputs.ts
  packages/config-vitest/tsconfig.json
  packages/config-vitest/turbo.json
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.css)) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
