Repository dsm23/turbo-monorepos-react-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint:lint-staged --, prettier --check, stylelint --allow-empty-input

chore(eslint): remove root eslint
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(vitest): add vitest.config.ts for PR comment
  .github/workflows/unit-testing.yml
  apps/tabs/package.json
  package.json
  packages/config-vitest/package.json
  packages/config-vitest/vitest.config.ts
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

ci(vitest): prev coverage json summary compare
  .github/workflows/unit-testing.yml
  renovate.json
Due: prettier --check

ci(vitest): remove affected flag for the time being
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

chore(deps): update npm dependencies
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
  apps/accordions/package.json
  apps/docs/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/storybook/next.config.ts
  apps/storybook/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/web/package.json
  package.json
  packages/common-utils/package.json
  packages/config-eslint/package.json
  packages/config-stylelint/package.json
  packages/config-vitest/package.json
  packages/react-ui-compiled/package.json
  packages/react-ui-compiled/src/components/Button.tsx
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update npm dependencies
  apps/accordions/package.json
  apps/docs/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/random-colour/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/storybook/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/web/package.json
  packages/config-eslint/package.json
  packages/config-postcss/package.json
  packages/config-tailwind/package.json
  packages/react-ui-compiled/package.json
  packages/react-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(storybook): migrate to v10
  apps/scroll-indicator/src/components/indicator/index.tsx
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/tree-view/src/components/menu-list/index.tsx
  packages/react-ui/package.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

ci(renovate): add storybook monorepo to config
  renovate.json
Due: prettier --check

ci(renovate): add turborepo monorepo to config
  renovate.json
Due: prettier --check

chore(deps): update js unit test packages to v4
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/storybook/package.json
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.shims.d.ts
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/vercel-badge/vitest.config.ts
  packages/config-vitest/package.json
  packages/config-vitest/src/index.ts
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): update dependency jsdom to v27.3.0
  apps/accordions/package.json
  apps/image-slider/package.json
  apps/qrcode-generator/package.json
  apps/scroll-indicator/package.json
  apps/star-ratings/package.json
  apps/tabs/package.json
  apps/tree-view/package.json
  apps/vercel-badge/package.json
  apps/vercel-badge/src/App.test.tsx
  apps/vercel-badge/src/App.tsx
  packages/config-vitest/package.json
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(deps): remove autoprefixer
  packages/react-ui-compiled/package.json
  packages/react-ui-compiled/postcss.config.js
  pnpm-lock.yaml
Due: turbo run lint:lint-staged --, prettier --check

chore(react-ui): add bunchee
  apps/accordions/turbo.json
  apps/image-slider/turbo.json
  apps/qrcode-generator/turbo.json
  apps/random-colour/turbo.json
  apps/scroll-indicator/turbo.json
  apps/star-ratings/turbo.json
  apps/tabs/turbo.json
  apps/tree-view/turbo.json
  apps/vercel-badge/turbo.json
  packages/react-ui-compiled/eslint.config.js
  packages/react-ui-compiled/package.json
  packages/react-ui-compiled/postcss.config.js
  packages/react-ui-compiled/src/components/Button.tsx
  packages/react-ui-compiled/src/index.ts
  packages/react-ui-compiled/src/styles.css
  packages/react-ui-compiled/stylelint.config.js
  packages/react-ui-compiled/tsconfig.json
  packages/react-ui-compiled/tsup.config.ts
  packages/react-ui/package.json
  packages/react-ui/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: turbo run lint:lint-staged --, prettier --check, stylelint --allow-empty-input

chore(deps): update dependency dawidd6/action-download-artifact to v12
  .github/workflows/unit-testing.yml
  renovate.json
Due: prettier --check

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: prettier --check

ci(zizmor): add zizmor gh action
  .github/workflows/zizmor.yml
Due: prettier --check

ci(pr-title): remove pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

ci(mergify): add merge queue
  .mergify.yml
Due: prettier --check

ci(token permissions): stricter gh actions token permissions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(renovate): run renovate check through docker instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: prettier --check

ci(mergify): update config
  .mergify.yml
Due: prettier --check

ci(renovate): override docker datasource
  renovate.json
Due: prettier --check

ci(ubuntu): return to ubuntu-latest
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/smoke-test.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: prettier --check

Path conditions:
  turbo run lint:lint-staged --: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check: ((any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.css)) or (any of: **/*.{json,yml})
  stylelint --allow-empty-input: any of: **/*.css
